/* RESET CSS BEGIN */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* RESET CSS END */

/* GENERAL RULES */
@font-face {
    font-family: 'MyriadPro-Regular';
    src: local('MyriadPro-Regular.otf'), url('../fonts/MyriadPro-Regular.otf') format('opentype');
}

body {
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    font-family: 'MyriadPro-Regular';
}

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

/* HEADER */
.header {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.logo h1 {
    font-size: 25px;
    letter-spacing: 1px;
    color: #000000;
}

.header-block {
    display: flex;
    justify-content: space-between;
}

.header-block__nav {
    text-transform: uppercase;
    font-size: 14px;
    opacity: .8;
    display: flex;
    justify-content: space-between;
}

.header-block__nav a {
    padding: 10px;
    transition: color, background-color .3s;
}

.header-block__nav a:hover {
    color: #FFFFFF;
    background-color: #03a9f4;

}

.header-block__search {
    padding-top: 10px;
}

/* SLIDE SECTION */

.slide {
    width: 100%;
    background: url('../images/coutdown-bg.png') no-repeat #000000;
    background-size: 100%;
    position: relative;
}

.slide h2 {
    font-size: 70px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 150px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 80px;
}

.slide h3 {
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-top: 0;
    padding-bottom: 100px;
    position: relative;
}

.slide h3:after {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 70px;
    height: 3px;
    background: #03a9f4;
}

.counter {
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.counter span {
    margin-left: 30px;
    margin-right: 30px;
}

.counter2 {
    margin-bottom: 60px;
}

.counter2 ul {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.counter2 ul li {
    display: inline;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 200;
    padding: 0 48px;
}

.btn {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding: 10px;
}

.btn a {
    font-size: 14px;
    color: #FFFFFF;
    padding: 15px 25px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 200px;
    transition: background-color .3s;
}

.btn a:last-child {
    padding: 15px 32px;
}

.btn a:hover {
    font-size: 14px;
    color: #FFFFFF;
    background-color: #03a9f4;
    border: #03a9f4;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 200px;
}

/* ABOUT SECTION */

.about {
    width: 1233px;
    position: relative;
    margin: 100px auto;

}

.about h4 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    padding-top: 80px;
    margin-bottom: 60px;

}

.about h4:after {
    position: absolute;
    top: 130px;
    left: 25px;
    transform: translateX(-50%);
    content: '';
    width: 50px;
    height: 3px;
    background: #03a9f4;
}

.about img {
    float: right;
    margin-right: 110px;
}

.about p {
    width: 700px;
    font-size: 14px;
    opacity: .8;
    margin-bottom: 30px;
    line-height: 1.6;
}

/* PROJECT SECTION */

.project {
    margin-top: 155px;
    background-color: #f8f8f8;
}

.project__statistics {
    width: 1080px;
    margin: 60px auto;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
}

.project__statistics p {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

.project__statistics p:first-of-type {
    text-transform: uppercase;
    font-weight: 900;
}

.project__statistics p:last-of-type {
    opacity: .8;

}

.project__video {
    width: 1170px;
    margin: 0 auto;
    height: 700px;
    background-size: 100%;
    background: #000000 url('../images/project-bg.png') no-repeat 100% 60%;
    position: relative;
}

.project__video h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 900;
    opacity: .8;
    text-align: center;
    padding-top: 255px;
}

.project__video .play-knob {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    background-image: url('../images/play-icon.png');
}

.project__brands {
    width: 1170px;
    margin: 0 auto;
    padding-bottom: 150px;
}

.project__brands .first-row, .second-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;

}

.second-row img:nth-of-type(1) {
    margin-left: -50px;
}

.second-row img:nth-of-type(2) {
    margin-left: -50px;
}

/* OUR MEMBER*/

.our-member {
    width: 100%;
    height: 755px;
    background-color: #343131;
    position: relative;
}

.our-member h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 900;
    opacity: .8;
    text-align: center;
    padding-top: 110px;
}

.our-member h4:after {
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 60px;
    height: 3px;
    background: #03a9f4;
}

.our-member-container {
    width: 1170px;
    margin: 90px auto;
    display: flex;
    justify-content: space-around;
}

.our-member__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.our-member__link {
    overflow: hidden;
    position: relative;
}

.our-member__img {
    width: 100%;
}

.our-member__content {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #343131;
    opacity: .9;
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: center;
}

.our-member__link:hover .our-member__content {
    top: 0;
    left: 0;
}

.our-member_hover-img {
    margin-bottom: -260px;
    margin-left: 20px;
    width: 109px;
    height: 14px;
}

.our-member_hover-title {
    margin-left: 20px;
    margin-bottom: 40px;
    color: #FFFFFF;
    font-size: 16px;
}

.our-member_hover-title h5 {
    margin-bottom: 15px;
}

.our-member_hover-title h5:last-of-type {
    opacity: .7;

}

.our-member_hover-title h5:after {
    position: absolute;
    bottom: 15%;
    left: 10%;
    transform: translateX(-50%);
    content: '';
    width: 35px;
    height: 3px;
    background: #FFFFFF;
}

/* SCHEDULE SECTION */

.schedule {
    width: 100%;
    background-color: #f8f8f8;
    padding-top: 120px;
    padding-bottom: 145px;
}

.wrapper {
    position: relative;
    width: 1370px;
    margin: 0 auto;
}

.schedule__header {
    width: 100%;
}

.schedule h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000000;
    font-size: 30px;
    font-weight: 900;
    opacity: .8;
    text-align: center;
    position: relative;
}

.schedule h4:after {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 60px;
    height: 3px;
    background: #03a9f4;
}

.schedule .day-button {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.schedule .schedule__photo-centered img:first-of-type {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 23%;
}

.schedule .schedule__photo-centered img:nth-of-type(2) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 48%;
}

.schedule .schedule__photo-centered img:last-of-type {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 75%;
}

.day-button a {
    padding: 15px 30px;
    border: 1px solid #eaeaea;
    margin-top: 85px;
    transition: background-color .3s;
}

.day-button a:hover {
    background-color: #03a9f4;
}

.schedule__body {
    width: 1370px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.schedule__body h5 {
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: 10px;
}

.schedule__body p {
    font-size: 14px;
    line-height: 1.7;
    opacity: .7;
}

.schedule__body figure {
    width: 460px;
}

.col-one-of-two {
    width: 50%;
    height: 1560px;
    border-right: 3px solid #eaeaea;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.col-one-of-two figure {
    margin: 100px auto;
    position: relative;
}

.col-one-of-two figure img:first-child {
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: 10;
}

.col-two-of-two {
    width: 50%;
    height: 1560px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.col-two-of-two figure {
    margin: 100px auto;
    position: relative;
}

.col-two-of-two figure img:first-child {
    position: absolute;
    top: -20px;
    right: -20px;
    z-index: 10;
}

.schedule__next-day-btn {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.schedule__next-day-btn a {
    background-color: #03a9f4;
    font-size: 13px;
    color: #FFFFFF;
    opacity: .7;
    text-transform: uppercase;
    padding: 15px 40px;
}

/* SIGNUP SECTION  */

.signUp {
    background: url('../images/perchase-bg.png') no-repeat;
    background-size: 100% 90%;
}

.signUp__content {
    width: 1370px;
    margin: 0 auto 115px;
    display: flex;
    justify-content: space-between;
}

.signUp h4 {
    color: #FFFFFF;
    font-size: 20px;
    letter-spacing: 2px;
    opacity: .8;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.5;
    padding: 60px 95px;
}

.signUp a {
    color: #FFFFFF;
    background-color: #03a9f4;
    font-size: 13px;
    opacity: .8;
    text-transform: uppercase;
    padding: 18px 40px;
    margin: 55px 110px 70px;
}

/* OUR BLOG SECTION */

.our-blog {
    width: 100%;
    position: relative;
}

.our-blog__body {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    margin: 80px auto 140px;
}

.our-blog h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000;
    font-size: 30px;
    font-weight: 900;
    opacity: .8;
    text-align: center;
    position: relative;
}

.our-blog h4:after {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 60px;
    height: 3px;
    background: #03a9f4;
}

.our-blog__body figcaption img {
    margin-top: 12px;
    margin-bottom: 12px;
}

.our-blog__body figcaption img:first-of-type {
    border-right: 1px solid #b4b4b4;
    padding-right: 10px;
}

.our-blog__body figcaption img:last-of-type {
    padding-left: 10px;
}

.our-blog__body figcaption {
    width: 370px;
}

.our-blog__body figcaption h5 {
    text-transform: uppercase;
    padding-bottom: 15px;
    font-weight: 900;
    opacity: .8;
    border-bottom: 1px solid #eaeaea;
}

.our-blog__body figcaption p {
    margin-top: 15px;
    line-height: 1.5;
    font-size: 14px;
    opacity: .8;
    color: #666666;
}

/* BOOK A SEAT */

.book-a-seat {
    background-color: #f8f8f8;
}

.book-a-seat__container {
    margin: 0 auto;
    width: 1370px;
}

.book-a-seat__img {
    float: left;
}

.book-a-seat__form {
    background-color: #f8f8f8;
    padding: 110px 100px 120px 700px;
}

.book-a-seat__form h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000;
    font-size: 30px;
    font-weight: 900;
    opacity: .8;
    text-align: left;
    position: relative;
}

.book-a-seat__form h4:after {
    position: absolute;
    top: 50px;
    left: 0;
    content: '';
    width: 60px;
    height: 3px;
    background: #03a9f4;
}

.book-a-seat__form p {
    margin-top: 50px;
    height: 25px;
    line-height: 1.5;
    font-size: 14px;
    opacity: .8;
    color: #666666;
    box-sizing: border-box;
}

.book-a-seat form {
    margin-top: 30px;
}

.book-a-seat__form .one-line-inputs {
    width: 580px;
    display: flex;
    justify-content: space-between;
}

.book-a-seat__form .one-line-inputs input[name=email] {
    margin-left: 30px;
}

.book-a-seat__form input[type=text], textarea {
    width: 550px;
    margin-top: 25px;
    border: none;
}

.book-a-seat__form input[type=text]:focus, textarea:focus {
    background-color: #bcdeed;
}

.book-a-seat__form input[placeholder] {
    padding: 15px 15px;
    font-size: 12px;
    opacity: .9;

}

.book-a-seat__form textarea {
    height: 160px;
}

.book-a-seat__form textarea[placeholder] {
    padding: 15px 15px;
}

.book-a-seat__form input[type="submit"] {
    margin-top: 25px;
    background-color: #03a9f4;
    font-size: 13px;
    color: #FFFFFF;
    border: none;
    padding: 15px 40px;
    text-transform: uppercase;
}

.map {
    width: 100%;
    margin: -25px auto 2px;]

}

/* FOOTER */

.footer {
    width: 100%;
    height: 400px;
    margin-top: -10px;
    margin-bottom: 50px;
    background-color: #333333;
}

.footer__body {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    height: 200px;
}

.footer__body h6 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
    color: #FFFFFF;
    opacity: .9;
    padding-bottom: 10px;
}

.footer__body p {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 12px;
    color: #FFFFFF;
    opacity: .5;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: .7px;
}

.footer__body .col-one {
    width: 355px;
}

.footer__body .col-four {
    width: 275px;
}

.footer__body .icons {
    margin-top: 15px;
    display: flex;
    justify-content: right;
    height: 75px;
    width: 290px;
}

.footer__body .text {
    height: 75px;
    margin-bottom: 15px;
}

.col-one .text p {
    margin-left: 15px;
}

.col-one .text p:first-of-type {
    margin-top: 0;
}

.col-one .text p:nth-of-type(2) {
    margin-top: 12px;
    margin-bottom: 12px;
}

.col-one .text p span {
    margin-left: 7px;
    margin-right: 7px;
}

.col-four p {
    margin-bottom: 30px;
}

.col-four input[type=email] {
    background-color: #595959;
    border: none;
    width: 225px;
    height: 40px;
}

.col-four a {
    background-color: #29cadf;
    border: none;
    padding: 12px;
    margin-left: -8px;
    transition: background-color .3s;
}

.col-four a:hover {
    background-color: #0a97a9;
}

.col-four input::placeholder {
    color: #cccccc;
    padding: 15px;
    opacity: .7;
}

.footer__right-reserved {
    margin-bottom: 0;
    background-color: #262626;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
}

.footer__right-reserved p {
    font-size: 12px;
    color: #FFFFFF;
    opacity: .5;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: .7px;
}

.empty {
    margin-bottom: 50px;
    width: 100%;
    height: 10px;
    background-image: linear-gradient(to bottom, #333333, #262626);
}

@media (min-width: 481px) and (max-width:768px) {
    .logo h1 {
        font-size: 18px;
    }

    .header-block__nav {
        font-size: 12px;
    }

    .counter2 ul li {
        font-size: 12px;
    }

    .counter2 ul {
        width: 100%;
        margin-left: 110px;
    }

    .slide {
        background-size: 100% 100%;
    }

    .btn a {
        margin-bottom: 80px;
    }

    .about {
        width: 750px;
        margin: 20px;
    }

    .project__statistics {
        width: 720px;
    }

    .project__video {
        width: 720px;
        height: 600px;
        background: #000000 url('../images/project-bg.png') no-repeat 80% 60%;
    }

    .project__video h4 {
        padding-top: 200px;
    }

    .project__brands {
        width: 720px;
    }

    .our-member {
        height: 100%;
    }

    .our-member-container {
        width: 750px;
        margin: 90px auto;
        flex-flow: column;
        justify-content: space-around;
    }

    .our-member__link {
        margin-top: 20px;
    }

    .wrapper {
        width: 720px;
    }

    .schedule__body {
        width: 620px;
        margin: 0 auto;
        display: flex;
        flex-flow: column;
        justify-content: center;
        position: relative;
    }

    .schedule__body figure {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .col-one-of-two {
        height: 100%;
    }
    .schedule__body .col-one-of-two figure:first-of-type {
        top: 0;
    }

    .schedule__body .col-one-of-two figure:last-of-type {
        top: 60%;
    }

    .schedule__body .col-two-of-two figure {
        top: 30%;
    }

    .our-blog__body {
        flex-flow: column;
        margin: 50px 25%;
    }

    .our-blog__body figure {
        margin-bottom: 30px;
    }

    .book-a-seat__img {
        margin-left: 35px;
    }

    .book-a-seat__form {
        margin-left: -50%;
        width: 720px;
        clear: both;
    }

    .footer {
        width: 750px;
    }

    .footer__body {

        margin-left: -80px;
    }

    .footer .col-one {
        width: 250px;
    }

    .footer__body .col-one, .col-two , .col-three, .col-four {
        margin-right: 20px;
    }

    .footer .col-four input {
        width: 100px;
    }

}