/* RESET CSS BEGIN */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;

}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*RESET CSS END*/

/* GENERAL RULES*/
@font-face {
    font-family: 'MyriadPro-Regular';
    src: local('MyriadPro-Regular.otf'), url('../fonts/MyriadPro-Regular.otf') format('opentype');
}

html {
    height: 100%;
    background-image: linear-gradient(to bottom, rgb(176, 194, 213), white 700px);
}

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.main {
    width: 1370px;
    margin: 0 auto;
    background: white;
    font-family: 'MyriadPro-Regular';
}

.header {
    width: 1165px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.logo {
    font-size: 25px;
    color: #000000;
}

.header-block {
    display: flex;
    justify-content: space-between;
    width: 660px;
}

.header-block__nav {
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    width: 525px;
}

.header-block__nav a {
    padding: 10px;
    transition: color, background-color .3s;
}

.header-block__nav a:hover {
    color: #FFFFFF;
    background-color: #03a9f4;

}

.header-block__search {
    padding-top: 10px;
}

.slide {
    width: 100%;
    background: url('../images/coutdown-bg.png') no-repeat #000000;
    background-size: 100%;
    position: relative;
}

.slide h2 {
    font-size: 70px;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 150px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 80px;
}

.slide h3 {
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-top: 0;
    padding-bottom: 100px;
    position: relative;
}

.slide h3:after {
    position: absolute;
    top: 90px;
    left: 685px;
    transform: translateX(-50%);
    content: '';
    width: 70px;
    height: 3px;
    background: #03a9f4;
}

.counter {
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.counter span {
    margin-left: 30px;
    margin-right: 30px;
}

.counter2 {
    margin-bottom: 60px;
}

.counter2 ul li {
    display: inline;
    text-transform: uppercase;
    position: relative;
    left: 30.5%;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 200;
    padding: 0 48px;
}

.btn {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding: 10px;
}

.btn a {
    font-size: 14px;
    color: #FFFFFF;
    padding: 15px 25px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 200px;
    transition: background-color .3s;
}

.btn a:last-child {
    padding: 15px 32px;
}

.btn a:hover {
    font-size: 14px;
    color: #FFFFFF;
    background-color: #03a9f4;
    border: #03a9f4;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 200px;
}

